langchain>=0.1.0
langchain-core>=0.1.0
langchain-community>=0.0.20
pypdf
sentence-transformers
faiss-cpu
langchain-google-genai>=1.0.3
python-dotenv
langchain-text-splitters
langchain-huggingface
streamlit